body {
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    flex-direction: column; /* This will stack child elements vertically */
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial Monospaced', 'Arial', monospace;

}

.buttons, .time {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0; /* Add some vertical spacing */
}

.time {
    font-size: 12em;
}

.sep {
    margin: 0 12px;
}


.button {
  background-color: #1e1e1e;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1rem;
  padding: .4rem .5rem;
  margin: .15rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background-color: rgb(122, 136, 151);
}

.button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button:focus-visible {
  box-shadow: none;
}